<app-header></app-header>
<div>
  <mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>אוטובוס</ng-template>
      <app-bus #appBus></app-bus>
      <div>
        <button mat-raised-button color="primary" matStepperNext>הבא</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>זמנים</ng-template>
      <app-line-time #appLineTime></app-line-time>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>הקודם</button>
        <button mat-raised-button color="primary" matStepperNext>הבא</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>תחנות</ng-template>
      <app-select-stations #appSelectStations></app-select-stations>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>הקודם</button>
        <button mat-raised-button
                [disabled]="(!(appBus.isBusValid() && appLineTime.isLineTimeValid() && appSelectStations.isSelectStationsValid()))"
                color="primary">צור
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

