<form class="bus_style" [formGroup]="busFormGroup">
  <div>
    <mat-form-field>
      <input matInput formControlName="vehicleNumberCtrl" placeholder="מספר רכב" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="colorCtrl" placeholder="צבע" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="vehicleCompanyCtrl" placeholder="חברת הסעות" required>
    </mat-form-field>
  </div>
</form>
