<form class="select_stations_style" [formGroup]="selectStationsFormGroup">
  <div>
    <mat-form-field>
      <mat-select formControlName="startStopSelectCtrl" placeholder="תחנת מוצא">
        <mat-option *ngFor="let stop of stops" [value]="stop.id">{{ stop.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select formControlName="endStopSelectCtrl" placeholder="תחנת יעד">
        <mat-option *ngFor="let stop of stops" [value]="stop.id">{{ stop.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select formControlName="stopsGoSelectCtrl" multiple placeholder="תחנות ביניים הלוך">
        <mat-option *ngFor="let stop of stops" [value]="stop.id">{{ stop.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select formControlName="stopsBackSelectCtrl" multiple placeholder="תחנות ביניים חזור">
        <mat-option *ngFor="let stop of stops" [value]="stop.id">{{ stop.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="notesCtrl" placeholder="הערות">
    </mat-form-field>
  </div>
</form>
